
<body class="form_body">

    <!--<h2 class="text-center mb-40 f-50">事前登録フォーム</h2>-->
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 col-lg-4"></div>
        <div class="col-8 col-lg-4" style="backgroud:black; box-shadow: 2px 2px 4px;">
            <p class="text-center mb-40 mt-40" style="text-align:center"><img src="/image/BLAM_logo.png" style="width:300px"></p>
            <form class="formrun text-center form-style-6" action="https://form.run/api/v1/r/lglp0ynt8icldmu96k0plw3r" method="post">
                  <div>
                    <input class="form-control form-control-lg" name="お名前"  type="hidden"value=<%= current_user.name %> data-formrun-required>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-4 text-left">
                        <label class="f-18">メールアドレス [必須]</label>
                      </div>
                      <div class="col-8">
                        <input class="form-control form-control-lg" name="メールアドレス" type="text" value= <%= current_user.email %> placeholder="メールアドレス" data-formrun-type="email" data-formrun-required>
                      </div> 
                    </div>
                  </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-4 text-left">
                    <label class="f-18">お勤め先 [必須]</label>
                  </div>
                  <div class="col-8">
                    <input class="form-control form-control-lg" name="お勤め先" type="text" placeholder="お勤め先（必須）" data-formrun-required></input>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-4 text-left">
                        <label class="f-18">職種 [必須]</label>
                  </div>
                  <div class="col-8">
                        <select class="form-control form-control-lg" id="inputState" name="職種" type="text" data-formrun-required size="1">
                            <option value="デジタルマーケター">デジタルマーケター</option>
                            <option value="エンジニア">エンジニア</option>
                            <option value="デザイナー">デザイナー</option>
                        </select>
                  </div>
                 </div>
                </div>
              
              <div>
                <input name="FBid" type="hidden" value= <%= current_user.uid %> data-formrun-required></input>
              </div>
              
              <!--<div class="privacy mx-auto mt-20">-->
              <!--  皆様から収集いたしました個人情報は、お問合せに関してのご連絡や当社 のサービス・商品のお知らせのためにのみ利用させて頂きます。 なお、弊社が求める個人情報のご提供がいただけない場合や入力内容に不備があった場合等におきましては、その後のご連絡、お知らせ等ができない可能性がありますのでご注意ください。 -->
              <!--  ※個人情報の取り扱いに関する弊社の基本的な考え方は「プライバシーポリシー」をご参照下さい。-->
              <!--</div>-->
              <p class="mt-20 text-center privacy_link"><%= link_to "プライバシーポリシー", "/pre/privacy" %></p>-->
              <div class="mt-20 form-check form-check-inline mx-auto">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">プライバシーポリシーの内容に同意する</label>
              </div>
              <br>
              <button type="submit" class="btn btn-info btn_form mt-20 f-25 btn-lg" data-formrun-error-text="未入力の項目があります" data-formrun-submitting-text="送信中...">登録</button>
            </form>
            
            <!--<p class="mt-20 text-center privacy_link"><%= link_to "プライバシーポリシー", "/pre/privacy" %></p>-->
         </div>
         <div class="col-2 col-lg-4"></div>  
      </div>
    </div>



</div>